<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chatroom.model.UserMapper">

    <select id="selectByname" resultType="com.example.chatroom.model.User">
        select * from user where username=#{username}
    </select>

    <!--useGeneratedKey表示获取自增主键，keyProperty表示要赋给谁 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="userId">
        insert into user(username,password) values(#{username},#{password})
    </insert>

</mapper>